.MatchDetailCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin-bottom: 20px;

  .match-date,
  .match-venue,
  .match-result {
    margin-top: 10px;
  }

  .additional-detail {
    text-align: right;
    & > p {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .team-name {
      font-size: 1.5rem;
    }
    .match-date {
      font-size: 1.2rem;
    }

    .match-venue,
    .match-result {
      font-size: 1rem;
    }

    .main-detail {
      grid-column: span 2;
    }

    .additional-detail {
      margin-top: 20px;
      grid-column: span 2;
      text-align: left;
      & > h3 {
        font-size: 1.2rem;
      }
    }
  }
  @media screen and (max-width: 480px) {
    padding: 10px;
    .additional-detail {
      & > p {
        margin-bottom: 10px;
      }
    }
  }
}
