.MatchPage {
  display: grid;
  grid-template-columns: 1fr 6fr;
  column-gap: 20px;

  .year-selector {
    justify-self: end;
    padding: 20px;
  }

  .page-heading {
    margin: 20px auto;
  }

  @media screen and (max-width: 480px) {
    .year-selector {
      padding: 0px;
      justify-self: start;
      & > h3 {
        font-size: 1rem;
      }
    }

    .page-heading {
      font-size: 1.2rem;
      margin: 10px auto;
    }

    & {
      column-gap: 10px;
    }
  }
}
